{% extends '::base.html.twig' %}

{% import _self as helper %}

{% block body %}
    <a href="{{ path('app_publisher_change_business_informations', {id: publisherUser.publisherId}) }}">
        update business information
    </a>

    <h1>
        {{ publisherUser.emailAddress.toString }}
    </h1>

    <h2>
        <small>UserId: {{ publisherUser.userId }}</small> |
        <small>PublisherId: {{ publisherUser.publisherId }}</small>
    </h2>

    User Events:
    {% for event in publisherUser.userEvents %}
        {{ helper.displayEvent(event) }}
    {% endfor %}

    Publisher Events:
    {% for event in publisherUser.publisherEvents %}
        {{ helper.displayEvent(event) }}
    {% endfor %}
{% endblock %}

{% macro displayEvent(event) %}
    <dl class="dl-horizontal">
        <dt>
            Effectué le
        </dt>
        <dd>
            {{ event.createdAt | date('d-m-Y H:i:m u') }}
        </dd>
        <dt>Nom de l'évenement</dt>
        <dd>{{ event.messageName }}</dd>
        <dt>Version</dt>
        <dd>{{ event.version }}</dd>
        <dt>Payload</dt>
        <dd>
            {% if event.payload | length > 0 %}
                <ul class="list-unstyled">
                    {% for key, params in event.payload -%}
                        <li><code>{{ key }} : {{ params | join(',') }}</code></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </dd>
        <dt>Metadata</dt>
        <dd>
            {% if event.metadata | length > 0 %}
                <ul class="list-unstyled">
                    {% for key, params in event.metadata -%}
                        <li><code>{{ key }} : {{ params | join(',') }}</code></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </dd>
    </dl>
    <hr>
{% endmacro %}